[Unit]
Description=Deluge Bittorrent Client Daemon
Documentation=man:deluged
# Start after network and specified mounts are available.
After=network-online.target zfs-mount.service
Requires=zfs-mount.service
# Stops deluged if mount points disconnect
BindsTo=zfs-mount.service
[Service]
Type=simple
User=deluge
Group=deluge
UMask=002
ExecStart=/usr/bin/deluged -d
Restart=on-failure
# Time to wait before forcefully stopped.
TimeoutStopSec=300
[Install]
WantedBy=multi-user.target zfs-mount.service

